.nav--active {
	.menu-close {
		opacity: 1;
		visibility: visible;
	}
	.nav__backdrop {
		opacity: $opacity-sm;
		z-index: 10;
	}
	.nav__list {
		transform: translateX(0);
	}
}

.nav__list {
	@include flex-container(row, space-between, center, nowrap);
	@include animation {
		transition: $transition-medium;
	}
	@media screen and (max-width: $sm) {
		@include flex-container(column, center, flex-start, nowrap);
		background-color: $primary-dark;
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 45vw;
		padding: 10vw;
		overflow-y: auto;
		transform: translateX(100%);
		overflow-x: hidden;
		z-index: 10;
	}
}

.nav__item {
	&:not(:last-of-type) {
		margin-right: 25px;
	}
	@media screen and (max-width: $sm) {
		margin: 0 0 30px;
	}
}

.nav__link {
	color: $secondary;
	font-family: $font-secondary;
	position: relative;
	font-size: 24px;
	line-height: 24px;
	&::after {
		background-color: $ternary;
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		@include animation {
			transition: $transition-medium;
		}
	}
	@include animation {
		transition: $transition-medium;
	}
	@include hover {
		color: $ternary;
		&::after {
			width: 100%;
		}
	}
}

.nav__backdrop {
	display: none;
	@include animation {
		transition: $transition-medium;
	}
	@media screen and (max-width: $sm) {
		background-color: $black;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 55vw;
		height: 100vh;
		opacity: 0;
		z-index: 0;
	}
}

.nav__btn {
	background: transparent;
	border: none;
}

.menu {
	color: $secondary;
	display: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@media screen and (max-width: $sm) {
		display: block;
	}
}

.menu-close {
	color: $secondary;
	display: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: fixed;
	top: 35px;
	right: 20px;
	z-index: 12;
	@include animation {
		transition: $transition-fast;
	}
	@media screen and (max-width: $sm) {
		display: block;
		opacity: 0;
		visibility: hidden;
	}
}