@mixin visually-hidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin hover {
	@media (hover: hover) and (pointer: fine) {
		.no-touch &:hover {
			@content;
		}
	}
}

@mixin animation {
	.loaded & {
		@content;
	}
}

@mixin flex-row-sb {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-col-start {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}