// ----------  reset
// ------------------------------------------------------------------------------
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
picture,
footer,
header,
hgroup,
nav,
section,
main {
	display: block;
}

audio:not([controls]) {
	display: none;
}

[hidden] {
	display: none;
}

// ----------  base reset
// ------------------------------------------------------------------------------
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-size: 1em;
	line-height: 1.35;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

::-moz-selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}

// ----------  links
// ------------------------------------------------------------------------------
a {
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	outline: none;
}

// ----------  typography
// ------------------------------------------------------------------------------

b,
strong {
	font-weight: bold;
}

small {
	font-size: 85%;
}
// ----------  lists
// ------------------------------------------------------------------------------
nav ul,
nav ol,
ul,
li {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

// ----------  Embedded content
// ------------------------------------------------------------------------------
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

// ----------  forms
// ------------------------------------------------------------------------------

form {
	margin: 0;
}

label {
	cursor: pointer;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	cursor: pointer;
	-webkit-appearance: button;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
textarea {
	box-shadow: none;
	appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

input:invalid,
textarea:invalid {
	background-color: #f0dddd;
}

input,
textarea,
select {
	outline: none;
}